<div class="style-cards">
  <app-link-book-estudos [img]="'assets/img/shabat-iasd.jpg'" [imgDescricao]="'Shabbat'"  [titulo]="'Ellen White'" [autor]="'Pastor Gabriel'" [descricao]="'Jesus Aboliu o Sábado?'" [link]="'/estudos/sabado'"></app-link-book-estudos>
</div>
<div class="style-cards">
  <app-link-book-estudos [img]="'assets/img/santuario-celestial-iasd.jpg'" [descricao]="'Juízo Investigativo'" class="style-cards" [titulo]="'Juízo Investigativo'" [autor]="'Pastor Gabriel'" [descricao]="'Jesus no Santuário?'" [link]="'/estudos/juizo-investigativo'"></app-link-book-estudos>
</div>
<div class="style-cards">
  <app-link-book-estudos [img]="'assets/img/dizimo.jpg'" [descricao]="'Dízimo'" class="style-cards" [titulo]="'Importância de Dizimar'" [autor]="'Pastor Gabriel'" [descricao]="'Por que Dizimamos?'" [link]="'/estudos/dizimo'"></app-link-book-estudos>
</div>
