<div class="titulo">Contate-nos</div>
<div class="line-sub"></div>
<div class="forme-data-group" enctype="text/plain" autocomplete="on/off" >
  <div class="input-forme">
    <div class="text-label">Nome:</div>
  </div>
  <div id="input-forme-name" class="input-forme">
    <input #name class="input-forme-data" placeholder="Preencha seu nome" id="name" type="text" name="Name">
  </div>
  <div class="input-forme">
    <div class="text-label">Email:</div>
  </div>
  <div class="input-forme">
    <input #email class="input-forme-data" placeholder="Preencha seu email" id="email" type="text" name="Email">
  </div>
  <div class="input-forme">
    <div class="text-label">Telefone:</div>
  </div>
  <div class="input-forme">
    <input #phone class="input-forme-data" placeholder="Preencha seu telefone" id="phone" type="text" name="Phone">
  </div>
  <div class="input-forme margin-titulo">
    <div class="text-label">Título:</div>
  </div>
  <div class="input-forme">
    <input #titulo class="input-forme-data" placeholder="Preencha o título da mensagem" id="titulo" type="text" name="Titulo">
  </div>
  <div class="input-forme">
    <div class="text-label">Mensagem:</div>
  </div>
  <div class="input-forme">
    <textarea #message class="input-forme-data" placeholder="Escreva sua mensagem" name="Message" id="message" cols="30" rows="10"></textarea>
  </div>
  <div id="input-forme-submit" class="input-forme">
    <input (click)="enviar()" id="submit" class="input-forme-submit" type="submit" name="submit" value="Enviar">
  </div>
</div>
<div class="titulo">Telefones</div>
<div class="line-sub"></div>
<div class="fones-area">
  <div class="fones">
    <div class="sub-titulo">Departamento Financeiro</div>
    <div class="fone">61 00000000</div>
  </div>
  <div class="fones">
    <div class="sub-titulo">Departamento de Ajuda</div>
    <div class="fone">61 00000000</div>
  </div>
  <div class="fones">
    <div class="sub-titulo">Departamento Adultos</div>
    <div class="fone">61 00000000</div>
  </div>
</div>
<div class="fones-area">
  <div class="fones">
    <div class="sub-titulo">Departamento Familia</div>
    <div class="fone">61 00000000</div>
  </div>
  <div class="fones">
    <div class="sub-titulo">Departamento Jovens</div>
    <div class="fone">61 00000000</div>
  </div>
  <div class="fones">
    <div class="sub-titulo">Departamento Escoteiros</div>
    <div class="fone">61 00000000</div>
  </div>
</div>
