:host{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #4051b3;
  background-color: #051b30;
  z-index: 10;

}

.logo{
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  place-content: center;
  place-items: center;
  place-self: center;

  svg{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    place-self: center;
    width: 65px;
    height: 65px;
    fill:#4051b3;
    fill-rule:"evenodd";
  }
}

.conteudo{
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  place-content: center;
  place-items: center;
  place-self: center;

  a{
    padding: 10px;
    margin-left: 5;
    font-family: 'Philosopher';
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #4051b3;

    &:hover{
      color: #233342;
      background-color: #4051b3;
    }
  }
}

.login{
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  place-content: center;
  place-items: center;
  place-self: center;

  div{
    margin: 5px;
  }

  a{
    padding: 10px;
    margin-left: 5;
    font-family: 'Philosopher';
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #4051b3;

    &:hover{
      color: #233342;
      background-color: #4051b3;
    }
  }
}
