<div class="book-card">
  <div class="row-book-img">
    <a [href]="download" download class="book-img">
      <img class="img" src="/assets/img/book.jpg" alt="W3Schools">
    </a>
  </div>
  <div class="row-book-content">
    <div class="title">{{title}}</div>
    <div class="author"><span class="sub-content">Autores:</span> {{author}}</div>
    <div class="description"><span class="sub-content">Descrição:</span> {{description}}</div>
    <a class="download-area" [href]="'https://www.udemy.com/718136e8-fdeb-4ad6-87e9-c26b2f87cffe'" download class="book-button">
      <div class="download">Download</div>
    </a>
  </div>
</div>
