.book-card{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 170px;
  border-top: 3px solid #b35340;
  border-bottom: 3px solid #b35340;
  background-color: #233342;
  border-radius: 10px;

  .row-book-img{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;


    .book-img{
      display: flex;
      flex-direction: column;


      .img{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 5px;
        border-radius: 8px;
        border-top: 3px solid #b35340;
        border-left: 3px solid #b35340;
      }
    }
  }

  .row-book-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px;

    .title{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 15%;
      font-size: 20px;
      font-family: 'Roboto';
      font-weight: 600;
      color: #b35340;
      margin-top: 20px;
    }

    .description{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 55%;
      font-size: 16px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #b35340;
      .sub-content{
        margin-right: 5px;
        color: #b35340;
      }
    }

    .author{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 15%;
      margin-top: 3px;
      font-size: 14px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #b35340;
      .sub-content{
        margin-right: 5px;
        color: #b35340;
      }
    }

    .book-button{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 15%;
      font-size: 14px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #b35340;
      text-decoration: none;

      .download{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 500;
        color: #233342;
        background-color: #b35340;
        border-radius: 10px;
        margin-bottom: 2px;
        &:hover{
          color: #233342;
          background-color: #ce8054;
        }
      }

    }

  }
}
