<app-programacoes></app-programacoes>
<div class="contato-body">
  <app-contato class="contato-sub"></app-contato>
</div>
<!-- <div id="contato" class="id-rastreador" class="contato">
  <div class="titulo">Contate-nos</div>
  <div class="line-sub"></div>
  <div class="forme-data-group" enctype="text/plain" autocomplete="on/off" >
    <div class="input-forme">
      <div class="text-label">Nome:</div>
    </div>
    <div id="input-forme-name" class="input-forme">
      <input #name class="input-forme-data" placeholder="Preencha seu nome" id="name" type="text" name="Name">
    </div>
    <div class="input-forme">
      <div class="text-label">Email:</div>
    </div>
    <div class="input-forme">
      <input #email class="input-forme-data" placeholder="Preencha seu email" id="email" type="text" name="Email">
    </div>
    <div class="input-forme">
      <div class="text-label">Telefone:</div>
    </div>
    <div class="input-forme">
      <input #phone class="input-forme-data" placeholder="Preencha seu telefone" id="phone" type="text" name="Phone">
    </div>
    <div class="input-forme">
      <div class="text-label">Mensagem:</div>
    </div>
    <div class="input-forme">
      <textarea #message class="input-forme-data" placeholder="Escreva sua mensagem" name="Message" id="message" cols="30" rows="10"></textarea>
    </div>
    <div id="input-forme-submit" class="input-forme">
      <input (click)="enviar()" id="submit" class="input-forme-submit" type="submit" name="submit" value="Enviar">
    </div>
  </div>
</div> -->
