<div class="area">
  <div class="estante-livros">
    <div class="prateleira-livros">
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
      <app-book class="book-item" [title]="'Livro de Melquisedeque'" [description]="'Livro de Melquisedeque'" [author]="'Melquisedeque'" [download]="'/assets/libs/livrodemelquisedeque.pdf'"></app-book>
    </div>
  </div>
</div>

